[submodule "themes/adidoks"]
	path = themes/adidoks
	url = https://github.com/ES-Alexander/adidoks.git
[submodule "Companion Docker"]
	path = content/software/companion/1.0
	url = https://github.com/bluerobotics/ardusub-zola.git
	branch = companion-1.0
