[submodule "themes/adidoks"]
	path = themes/adidoks
	url = https://github.com/ES-Alexander/adidoks.git
[submodule "BlueOS-1.0"]
	path = content/blueos/1.0
	url = https://github.com/bluerobotics/ardusub-zola.git
	branch = BlueOS-1.0
[submodule "content/software/onboard/BlueOS-1.1"]
	path = content/blueos/1.1
	url = https://github.com/bluerobotics/ardusub-zola.git
	branch = BlueOS-1.1
